In [2]:
#SOMENTE PARA AÇÕES DA BOLSA NORTE AMERICANA
import pandas as pd
import numpy as np
from numpy import int64
from xml.dom.minidom import Attr
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from time import sleep
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import pandas as pd

In [3]:
#Dados Yahoo Finance #Do not change

stock = 'AAPL'

url = 'https://finance.yahoo.com/quote/' + stock + '/financials?p=' + stock

google = webdriver.Chrome()

google.get(url)

google.maximize_window()

print(url)

https://finance.yahoo.com/quote/AAPL/financials?p=AAPL

In [17]:
#Finding data script

page_content =  google.page_source
site = BeautifulSoup(page_content, 'html.parser')

#Finding linhas with a couple of elements "div" inside
lines = site.findAll('div', attrs={'data-test' : 'fin-row'}) #Conjunto

#print(lines[2].prettify())

all_columns = []

for line in lines:
    columns = line.findAll('div')
    
    column_text = []
    for column in columns:
        column = column.text
        column_text.append(column)
    
    all_columns.append(column_text)
    
    #columns = square[6].text
    #print(square)
    
    
print(all_columns[7])

['Pretax Income111,395,000113,736,000119,103,000109,207,00067,091,000', 'Pretax Income', 'Pretax Income', '', '111,395,000', '113,736,000', '119,103,000', '109,207,000', '67,091,000', '']

In [23]:
#Plot data into a Dataframe
#Setting a name 

a = len(all_columns)
b = 0

all_dataframes_transposed = []

while a > b:

    df = pd.DataFrame(all_columns[b])

    df_transposto = df.T
    
    all_dataframes_transposed.append(df_transposto)
    
    b = b+1

#Cocatenating the columns

concat_df = pd.concat(all_dataframes_transposed, ignore_index=True)

#Droping the desExcluir as primeiras desnecessárias para concatenar com o tútulo

df = concat_df #Changind the name to the original dataframe

remove = [0,1,3,9]

df = concat_df.drop(df.columns[remove], axis=1)

df.head()

,2,4,5,6,7,8
0,Total Revenue,"383,933,000","383,285,000","394,328,000","365,817,000","274,515,000"
1,Cost of Revenue,"217,117,000","214,137,000","223,546,000","212,981,000","169,559,000"
2,Gross Profit,"166,816,000","169,148,000","170,782,000","152,836,000","104,956,000"
3,Operating Expense,"54,590,000","54,847,000","51,345,000","43,887,000","38,668,000"
4,Operating Income,"112,226,000","114,301,000","119,437,000","108,949,000","66,288,000"

In [24]:
#Findins the data time of the columns

title = site.find('div', attrs={'class' : 'D(tbhg)'})

for element in title:
    new = title.findAll('span')
    
dates = []

for element_text in new: # Convert into a text
    date = element_text.text
    dates.append(date)

#Turning the list of elements in title

df.columns = dates

df = df.set_index('Breakdown')

In [25]:
df.head(50)

,ttm,9/30/2023,9/30/2022,9/30/2021,9/30/2020
Breakdown,,,,,
Total Revenue,"383,933,000","383,285,000","394,328,000","365,817,000","274,515,000"
Cost of Revenue,"217,117,000","214,137,000","223,546,000","212,981,000","169,559,000"
Gross Profit,"166,816,000","169,148,000","170,782,000","152,836,000","104,956,000"
Operating Expense,"54,590,000","54,847,000","51,345,000","43,887,000","38,668,000"
Operating Income,"112,226,000","114,301,000","119,437,000","108,949,000","66,288,000"
Net Non Operating Interest Income Expense,"-239,000",-,"-106,000","198,000","890,000"
Other Income Expense,"-592,000","-565,000","-334,000","258,000","803,000"
Pretax Income,"111,395,000","113,736,000","119,103,000","109,207,000","67,091,000"
Tax Provision,"16,635,000","16,741,000","19,300,000","14,527,000","9,680,000"
Net Income Common Stockholders,"94,760,000","96,995,000","99,803,000","94,680,000","57,411,000"
Diluted NI Available to Com Stockholders,"94,760,000","96,995,000","99,803,000","94,680,000","57,411,000"
Basic EPS,5.98,6.16,6.15,5.67,3.31
Diluted EPS,5.96,6.13,6.11,5.61,3.28
Basic Average Shares,"15,851,968","15,744,231","16,215,963","16,701,272","17,352,119"
Diluted Average Shares,"15,924,064","15,812,547","16,325,819","16,864,919","17,528,214"
Total Operating Income as Reported,"112,226,000","114,301,000","119,437,000","108,949,000","66,288,000"
Total Expenses,"271,707,000","268,984,000","274,891,000","256,868,000","208,227,000"
Net Income from Continuing & Discontinued Operation,"94,760,000","96,995,000","99,803,000","94,680,000","57,411,000"
Normalized Income,"94,760,000","96,995,000","99,803,000","94,680,000","57,411,000"
Interest Income,"3,519,000",-,"2,825,000","2,843,000","3,763,000"
Interest Expense,"3,758,000",-,"2,931,000","2,645,000","2,873,000"
Net Interest Income,"-239,000",-,"-106,000","198,000","890,000"
EBIT,"115,153,000","114,301,000","119,437,000","108,949,000","66,288,000"
EBITDA,"126,884,000","125,820,000","130,541,000","120,233,000","77,344,000"
Reconciled Cost of Revenue,"217,117,000","214,137,000","223,546,000","212,981,000","169,559,000"
Reconciled Depreciation,"11,731,000","11,519,000","11,104,000","11,284,000","11,056,000"
Net Income from Continuing Operation Net Minority Interest,"94,760,000","96,995,000","99,803,000","94,680,000","57,411,000"
Normalized EBITDA,"126,884,000","125,820,000","130,541,000","120,233,000","77,344,000"
Tax Rate for Calcs,0,0,0,0,0
Tax Effect of Unusual Items,0,0,0,0,0